{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% block title %} {% block title-meta %} 
    Password Change Done
{% endblock %} {% endblock %}

{% block main %} 

    <div class="col-md-8 text-center mx-auto">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0">Password Change Done</h3> 
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            
                <div class="card-body py-4"> 
                        <p class="py-2"> Password of {{ user.get_full_name }} was changed successfully </p>
                </div>  
                <!--  /.card-body -->
         </div>
    </div> 
{% endblock %}

