{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% block title %} {% block title-meta %} 
    User Profile
{% endblock %} {% endblock %}

{% block main %} 

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                    <h3 class="card-title mb-0">User Profile</h3> 
            </div>
                <div class="card-body"> 
                    <form method="post" id="quickForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="row">
                            {% if form.username.errors %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.username.field.label }} </label>
                                    {{ form.username|add_class:"form-control is-invalid" }}
                                    {% if form.username.errors %}
                                        <span class="error invalid-feedback"> {{ form.username.errors }} </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.username.field.label }} </label>
                                    {{ form.username|add_class:"form-control" }}
                                    <span class="error invalid-feedback"> {{ form.username.errors }} </span>
                                </div>
                            </div>
                            {% endif %}
                            {% if form.email.errors %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.email.field.label }} </label>
                                    {{ form.email|add_class:"form-control is-invalid" }}
                                    {% if form.email.errors %}
                                        <span class="error invalid-feedback"> {{ form.email.errors }} </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.email.field.label }} </label>
                                    {{ form.email|add_class:"form-control" }}
                                    <span class="error invalid-feedback"> {{ form.email.errors }} </span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                            
                        <div class="row">
                            {% if form.first_name.errors %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.first_name.field.label }} </label>
                                    {{ form.first_name|add_class:"form-control is-invalid" }}
                                    {% if form.first_name.errors %}
                                        <span class="error invalid-feedback"> {{ form.first_name.errors }} </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.first_name.field.label }} </label>
                                    {{ form.first_name|add_class:"form-control" }}
                                    <span class="error invalid-feedback"> {{ form.first_name.errors }} </span>
                                </div>
                            </div>
                            {% endif %}
                            {% if form.last_name.errors %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.last_name.field.label }} </label>
                                    {{ form.last_name|add_class:"form-control is-invalid" }}
                                    {% if form.last_name.errors %}
                                        <span class="error invalid-feedback"> {{ form.last_name.errors }} </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.last_name.field.label }} </label>
                                    {{ form.last_name|add_class:"form-control" }}
                                    <span class="error invalid-feedback"> {{ form.last_name.errors }} </span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if form.special_user.errors %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.special_user.field.label }} </label>
                                    {{ form.special_user|add_class:"form-control is-invalid" }}
                                    {% if form.special_user.errors %}
                                        <span class="error invalid-feedback"> {{ form.special_user.errors }} </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.special_user.field.label }} </label>
                                    {{ form.special_user|add_class:"form-control" }}
                                    <span class="error invalid-feedback"> {{ form.special_user.errors }} </span>
                                </div>
                            </div>
                            {% endif %}
                            {% if form.is_author.errors %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.is_author.field.label }} </label>
                                    {{ form.is_author|add_class:"is-invalid" }}
                                    {% if form.is_author.errors %}
                                        <span class="error invalid-feedback"> {{ form.is_author.errors }} </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% else %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> {{ form.is_author.field.label }} </label>
                                    {{ form.is_author }}
                                    <span class="error invalid-feedback"> {{ form.is_author.errors }} </span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col-12">
                            <div class="card-body">
                                <div class="form-group">
                                        <label for="Change"> To change your password <a href="{% url 'password_change' %}"> Click </a> here! </label>  
                                    <span class="error invalid-feedback"> {{ form.email.errors }} </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
         </div>
    </div> 
{% endblock %}

